<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>testovacia</title>
		<%= stylesheet_link_tag 'base' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<div class="main_menu" style="border: solid thin black; height: 85px; background-color: black">
		<%= render "layouts/menu" %>
	</div>
	<div class="sub_menu">
		<%= render "manage_renter/menu_renter" %>
	</div>
	<div class="content" style="border: solid thin black; height: 100%">
		<div id="menu_right" class="menu_right" style="border: solid thin red; width: 200px; padding: 5px;">
		</div>
	</div>
</html>