<div>
	<%= error_messages_for 'user' %>
	<fieldset>
		<legend>Zadejte údaje o uživateli</legend>
		
		<% form_tag(:action => 'add_user') do %>
			<%= render :partial => 'new_user' %>
		<% end %>
	</fieldset>
</div>