<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'base','style', 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div class='main_menu'>
    <%= render 'layouts/menu' unless ((request.parameters[:controller] == 'login') && (request.parameters[:action] == 'login')) %>
	</div>
	<div class="submenu">
		<%= yield :submenu %>
	</div>
	<% [:error, :warning, :notice].each do |level|
    if flash[level] -%>
      <p class="notice"><%= flash[level] -%></p>
  	<% end -%>
	<% end -%>

	<div class = 'obsah'>
		<%= yield  %>
	</div>
</body>
</html>
